In [22]:
import pandas as pd
covidData = pd.read_csv("CovidData/owid-covid-data.csv")
newCases = covidData[['new_cases']]
meanNewCases = newCases.mean()
medianNewCases = newCases.median()
print("Mittelwert: ", meanNewCases)
print("Median: ", medianNewCases)

Mittelwert:  new_cases    5623.480575
dtype: float64
Median:  new_cases    68.0
dtype: float64

In [55]:
import pandas as pd
import numpy as np
from statistics import mean
covidData = pd.read_csv("CovidData/owid-covid-data.csv")
newCases = covidData[['new_cases', 'location']]


group = newCases.groupby('location')
for land, group in g:
    meanGroup = group.mean()
    print(group)
    print(meanGroup)
    print(meanGroup.max())

     new_cases     location
0          1.0  Afghanistan
1          0.0  Afghanistan
2          0.0  Afghanistan
3          0.0  Afghanistan
4          0.0  Afghanistan
..         ...          ...
417       78.0  Afghanistan
418      109.0  Afghanistan
419       72.0  Afghanistan
420      105.0  Afghanistan
421      139.0  Afghanistan

[422 rows x 2 columns]
new_cases    137.528436
dtype: float64
     new_cases location
422        0.0   Africa
423        1.0   Africa
424        0.0   Africa
425        0.0   Africa
426        0.0   Africa
..         ...      ...
850    12029.0   Africa
851    13363.0   Africa
852     9324.0   Africa
853     8753.0   Africa
854    10111.0   Africa

[433 rows x 2 columns]
new_cases    10278.300231
dtype: float64
      new_cases location
855         NaN  Albania
856         NaN  Albania
857         NaN  Albania
858         NaN  Albania
859         NaN  Albania
...         ...      ...
1271      179.0  Albania
1272      149.0  Albania
1273      138.0  Albania
1274      100.0  Albania
1275      148.0  Albania

[421 rows x 2 columns]
new_cases    318.240196
dtype: float64
      new_cases location
1276        1.0  Algeria
1277        0.0  Algeria
1278        0.0  Algeria
1279        0.0  Algeria
1280        0.0  Algeria
...         ...      ...
1692      181.0  Algeria
1693      163.0  Algeria
1694      156.0  Algeria
1695      163.0  Algeria
1696      187.0  Algeria

[421 rows x 2 columns]
new_cases    285.016627
dtype: float64
      new_cases location
1697        1.0  Andorra
1698        0.0  Andorra
1699        0.0  Andorra
1700        0.0  Andorra
1701        0.0  Andorra
...         ...      ...
2107       71.0  Andorra
2108       59.0  Andorra
2109       34.0  Andorra
2110        0.0  Andorra
2111       69.0  Andorra

[415 rows x 2 columns]
new_cases    31.021687
dtype: float64
      new_cases location
2112        1.0   Angola
2113        1.0   Angola
2114        0.0   Angola
2115        1.0   Angola
2116        0.0   Angola
...         ...      ...
2504      171.0   Angola
2505      178.0   Angola
2506       89.0   Angola
2507      129.0   Angola
2508      143.0   Angola

[397 rows x 2 columns]
new_cases    62.118388
dtype: float64
      new_cases  location
2509        NaN  Anguilla
2510        NaN  Anguilla
2511        NaN  Anguilla
2512        NaN  Anguilla
2513        NaN  Anguilla
...         ...       ...
2572        NaN  Anguilla
2573        NaN  Anguilla
2574        NaN  Anguilla
2575        NaN  Anguilla
2576        NaN  Anguilla

[68 rows x 2 columns]
new_cases   NaN
dtype: float64
      new_cases             location
2577        1.0  Antigua and Barbuda
2578        0.0  Antigua and Barbuda
2579        0.0  Antigua and Barbuda
2580        0.0  Antigua and Barbuda
2581        0.0  Antigua and Barbuda
...         ...                  ...
2976        4.0  Antigua and Barbuda
2977        3.0  Antigua and Barbuda
2978        0.0  Antigua and Barbuda
2979        1.0  Antigua and Barbuda
2980        0.0  Antigua and Barbuda

[404 rows x 2 columns]
new_cases    3.012376
dtype: float64
      new_cases   location
2981        NaN  Argentina
2982        NaN  Argentina
2983        NaN  Argentina
2984        NaN  Argentina
2985        NaN  Argentina
...         ...        ...
3452    29472.0  Argentina
3453    19119.0  Argentina
3454    16267.0  Argentina
3455    20461.0  Argentina
3456    29145.0  Argentina

[476 rows x 2 columns]
new_cases    6627.101449
dtype: float64
      new_cases location
3457        1.0  Armenia
3458        0.0  Armenia
3459        0.0  Armenia
3460        0.0  Armenia
3461        0.0  Armenia
...         ...      ...
3868      961.0  Armenia
3869      870.0  Armenia
3870      547.0  Armenia
3871      298.0  Armenia
3872      667.0  Armenia

[416 rows x 2 columns]
new_cases    503.569712
dtype: float64
      new_cases location
3873        0.0     Asia
3874       98.0     Asia
3875      283.0     Asia
3876      491.0     Asia
3877      677.0     Asia
...         ...      ...
4323   388702.0     Asia
4324   409782.0     Asia
4325   414773.0     Asia
4326   399773.0     Asia
4327   448580.0     Asia

[455 rows x 2 columns]
new_cases    74380.606593
dtype: float64
      new_cases   location
4328        4.0  Australia
4329        1.0  Australia
4330        0.0  Australia
4331        1.0  Australia
4332        3.0  Australia
...         ...        ...
4774       15.0  Australia
4775       20.0  Australia
4776       14.0  Australia
4777       23.0  Australia
4778       20.0  Australia

[451 rows x 2 columns]
new_cases    65.578714
dtype: float64
      new_cases location
4779        2.0  Austria
4780        0.0  Austria
4781        1.0  Austria
4782        0.0  Austria
4783        6.0  Austria
...         ...      ...
5195     2416.0  Austria
5196     2048.0  Austria
5197     2076.0  Austria
5198     2117.0  Austria
5199     2026.0  Austria

[421 rows x 2 columns]
new_cases    1419.396675
dtype: float64
      new_cases    location
5200        3.0  Azerbaijan
5201        0.0  Azerbaijan
5202        0.0  Azerbaijan
5203        0.0  Azerbaijan
5204        3.0  Azerbaijan
...         ...         ...
5611     2163.0  Azerbaijan
5612     2148.0  Azerbaijan
5613     2144.0  Azerbaijan
5614      995.0  Azerbaijan
5615     2197.0  Azerbaijan

[416 rows x 2 columns]
new_cases    730.427885
dtype: float64
      new_cases location
5616        1.0  Bahamas
5617        0.0  Bahamas
5618        0.0  Bahamas
5619        2.0  Bahamas
5620        0.0  Bahamas
...         ...      ...
6012      129.0  Bahamas
6013        0.0  Bahamas
6014        0.0  Bahamas
6015      157.0  Bahamas
6016        0.0  Bahamas

[401 rows x 2 columns]
new_cases    24.416459
dtype: float64
      new_cases location
6017        1.0  Bahrain
6018       22.0  Bahrain
6019       10.0  Bahrain
6020        0.0  Bahrain
6021        3.0  Bahrain
...         ...      ...
6434     1155.0  Bahrain
6435     1024.0  Bahrain
6436      997.0  Bahrain
6437     1008.0  Bahrain
6438     1039.0  Bahrain

[422 rows x 2 columns]
new_cases    393.736967
dtype: float64
      new_cases    location
6439        NaN  Bangladesh
6440        NaN  Bangladesh
6441        NaN  Bangladesh
6442        NaN  Bangladesh
6443        NaN  Bangladesh
...         ...         ...
6848     4417.0  Bangladesh
6849     3473.0  Bangladesh
6850     3698.0  Bangladesh
6851     4271.0  Bangladesh
6852     4559.0  Bangladesh

[414 rows x 2 columns]
new_cases    1779.413203
dtype: float64
      new_cases  location
6853        2.0  Barbados
6854        0.0  Barbados
6855        3.0  Barbados
6856        0.0  Barbados
6857        1.0  Barbados
...         ...       ...
7248       12.0  Barbados
7249        8.0  Barbados
7250        8.0  Barbados
7251        3.0  Barbados
7252        9.0  Barbados

[400 rows x 2 columns]
new_cases    9.4825
dtype: float64
      new_cases location
7253        1.0  Belarus
7254        0.0  Belarus
7255        0.0  Belarus
7256        0.0  Belarus
7257        0.0  Belarus
...         ...      ...
7666     1516.0  Belarus
7667     1384.0  Belarus
7668     1300.0  Belarus
7669      887.0  Belarus
7670      888.0  Belarus

[418 rows x 2 columns]
new_cases    827.746411
dtype: float64
      new_cases location
7671        1.0  Belgium
7672        0.0  Belgium
7673        0.0  Belgium
7674        0.0  Belgium
7675        0.0  Belgium
...         ...      ...
8108     3904.0  Belgium
8109     3787.0  Belgium
8110     2996.0  Belgium
8111     1630.0  Belgium
8112     3430.0  Belgium

[442 rows x 2 columns]
new_cases    2160.760181
dtype: float64
      new_cases location
8113        1.0   Belize
8114        0.0   Belize
8115        1.0   Belize
8116        0.0   Belize
8117        0.0   Belize
...         ...      ...
8502        9.0   Belize
8503        0.0   Belize
8504        0.0   Belize
8505       20.0   Belize
8506       10.0   Belize

[394 rows x 2 columns]
new_cases    31.898477
dtype: float64
      new_cases location
8507        1.0    Benin
8508        0.0    Benin
8509        1.0    Benin
8510        0.0    Benin
8511        0.0    Benin
...         ...      ...
8903        0.0    Benin
8904        0.0    Benin
8905        0.0    Benin
8906        0.0    Benin
8907      109.0    Benin

[401 rows x 2 columns]
new_cases    19.25187
dtype: float64
      new_cases location
8908        NaN  Bermuda
8909        NaN  Bermuda
8910        NaN  Bermuda
8911        NaN  Bermuda
8912        NaN  Bermuda
...         ...      ...
8994        NaN  Bermuda
8995        NaN  Bermuda
8996        NaN  Bermuda
8997        NaN  Bermuda
8998        NaN  Bermuda

[91 rows x 2 columns]
new_cases   NaN
dtype: float64
      new_cases location
8999        1.0   Bhutan
9000        0.0   Bhutan
9001        0.0   Bhutan
9002        0.0   Bhutan
9003        0.0   Bhutan
...         ...      ...
9405        7.0   Bhutan
9406       11.0   Bhutan
9407        5.0   Bhutan
9408        4.0   Bhutan
9409        5.0   Bhutan

[411 rows x 2 columns]
new_cases    2.350365
dtype: float64
      new_cases location
9410        2.0  Bolivia
9411        0.0  Bolivia
9412        1.0  Bolivia
9413        7.0  Bolivia
9414        0.0  Bolivia
...         ...      ...
9811     1246.0  Bolivia
9812        0.0  Bolivia
9813     1706.0  Bolivia
9814     1296.0  Bolivia
9815     1313.0  Bolivia

[406 rows x 2 columns]
new_cases    718.41133
dtype: float64
       new_cases                location
9816         2.0  Bosnia and Herzegovina
9817         0.0  Bosnia and Herzegovina
9818         1.0  Bosnia and Herzegovina
9819         0.0  Bosnia and Herzegovina
9820         0.0  Bosnia and Herzegovina
...          ...                     ...
10223     1279.0  Bosnia and Herzegovina
10224        0.0  Bosnia and Herzegovina
10225        0.0  Bosnia and Herzegovina
10226     2160.0  Bosnia and Herzegovina
10227      722.0  Bosnia and Herzegovina

[412 rows x 2 columns]
new_cases    465.718447
dtype: float64
       new_cases  location
10228        3.0  Botswana
10229        1.0  Botswana
10230        0.0  Botswana
10231        0.0  Botswana
10232        0.0  Botswana
...          ...       ...
10610        0.0  Botswana
10611        0.0  Botswana
10612        0.0  Botswana
10613      627.0  Botswana
10614        0.0  Botswana

[387 rows x 2 columns]
new_cases    115.509044
dtype: float64
       new_cases location
10615        1.0   Brazil
10616        0.0   Brazil
10617        0.0   Brazil
10618        1.0   Brazil
10619        0.0   Brazil
...          ...      ...
11030    85774.0   Brazil
11031    67636.0   Brazil
11032    42980.0   Brazil
11033    30624.0   Brazil
11034    69381.0   Brazil

[420 rows x 2 columns]
new_cases    33435.895238
dtype: float64
       new_cases location
11035        1.0   Brunei
11036        0.0   Brunei
11037       10.0   Brunei
11038        0.0   Brunei
11039       26.0   Brunei
...          ...      ...
11438        0.0   Brunei
11439        0.0   Brunei
11440        0.0   Brunei
11441        0.0   Brunei
11442        2.0   Brunei

[408 rows x 2 columns]
new_cases    0.546569
dtype: float64
       new_cases  location
11443        4.0  Bulgaria
11444        0.0  Bulgaria
11445        0.0  Bulgaria
11446        3.0  Bulgaria
11447        0.0  Bulgaria
...          ...       ...
11847     2126.0  Bulgaria
11848     1076.0  Bulgaria
11849      418.0  Bulgaria
11850     2434.0  Bulgaria
11851     2096.0  Bulgaria

[409 rows x 2 columns]
new_cases    955.772616
dtype: float64
       new_cases      location
11852        1.0  Burkina Faso
11853        1.0  Burkina Faso
11854        0.0  Burkina Faso
11855        0.0  Burkina Faso
11856        0.0  Burkina Faso
...          ...           ...
12254       19.0  Burkina Faso
12255       31.0  Burkina Faso
12256       15.0  Burkina Faso
12257       19.0  Burkina Faso
12258       19.0  Burkina Faso

[407 rows x 2 columns]
new_cases    32.351351
dtype: float64
       new_cases location
12259        2.0  Burundi
12260        0.0  Burundi
12261        1.0  Burundi
12262        0.0  Burundi
12263        0.0  Burundi
...          ...      ...
12640       53.0  Burundi
12641        0.0  Burundi
12642        0.0  Burundi
12643        0.0  Burundi
12644      166.0  Burundi

[386 rows x 2 columns]
new_cases    9.437824
dtype: float64
       new_cases  location
12645        1.0  Cambodia
12646        0.0  Cambodia
12647        0.0  Cambodia
12648        0.0  Cambodia
12649        0.0  Cambodia
...          ...       ...
13090      262.0  Cambodia
13091      291.0  Cambodia
13092      618.0  Cambodia
13093      624.0  Cambodia
13094      431.0  Cambodia

[450 rows x 2 columns]
new_cases    16.542222
dtype: float64
       new_cases  location
13095        1.0  Cameroon
13096        0.0  Cameroon
13097        1.0  Cameroon
13098        0.0  Cameroon
13099        0.0  Cameroon
...          ...       ...
13501        0.0  Cameroon
13502     3078.0  Cameroon
13503        0.0  Cameroon
13504        0.0  Cameroon
13505        0.0  Cameroon

[411 rows x 2 columns]
new_cases    157.686131
dtype: float64
       new_cases location
13506        1.0   Canada
13507        0.0   Canada
13508        1.0   Canada
13509        0.0   Canada
13510        0.0   Canada
...          ...      ...
13952     9329.0   Canada
13953     7325.0   Canada
13954     8209.0   Canada
13955    10220.0   Canada
13956     7226.0   Canada

[451 rows x 2 columns]
new_cases    2542.831486
dtype: float64
       new_cases    location
13957        1.0  Cape Verde
13958        2.0  Cape Verde
13959        0.0  Cape Verde
13960        0.0  Cape Verde
13961        0.0  Cape Verde
...          ...         ...
14349      195.0  Cape Verde
14350        0.0  Cape Verde
14351      491.0  Cape Verde
14352      161.0  Cape Verde
14353      154.0  Cape Verde

[397 rows x 2 columns]
new_cases    52.345088
dtype: float64
       new_cases        location
14354        NaN  Cayman Islands
14355        NaN  Cayman Islands
14356        NaN  Cayman Islands
14357        NaN  Cayman Islands
14358        NaN  Cayman Islands
...          ...             ...
14461        NaN  Cayman Islands
14462        NaN  Cayman Islands
14463        NaN  Cayman Islands
14464        NaN  Cayman Islands
14465        NaN  Cayman Islands

[112 rows x 2 columns]
new_cases   NaN
dtype: float64
       new_cases                  location
14466        1.0  Central African Republic
14467        0.0  Central African Republic
14468        0.0  Central African Republic
14469        0.0  Central African Republic
14470        0.0  Central African Republic
...          ...                       ...
14863       46.0  Central African Republic
14864        0.0  Central African Republic
14865       59.0  Central African Republic
14866        0.0  Central African Republic
14867      142.0  Central African Republic

[402 rows x 2 columns]
new_cases    14.748756
dtype: float64
       new_cases location
14868        1.0     Chad
14869        0.0     Chad
14870        0.0     Chad
14871        0.0     Chad
14872        0.0     Chad
...          ...      ...
15261       13.0     Chad
15262        5.0     Chad
15263       15.0     Chad
15264        2.0     Chad
15265       15.0     Chad

[398 rows x 2 columns]
new_cases    11.866834
dtype: float64
       new_cases location
15266        2.0    Chile
15267        0.0    Chile
15268        0.0    Chile
15269        0.0    Chile
15270        0.0    Chile
...          ...      ...
15684     7613.0    Chile
15685     8037.0    Chile
15686     7370.0    Chile
15687     6622.0    Chile
15688     4849.0    Chile

[423 rows x 2 columns]
new_cases    2686.026005
dtype: float64
       new_cases location
15689        NaN    China
15690       95.0    China
15691      277.0    China
15692      486.0    China
15693      669.0    China
...          ...      ...
16139       32.0    China
16140       34.0    China
16141       41.0    China
16142       22.0    China
16143       29.0    China

[455 rows x 2 columns]
new_cases    224.10793
dtype: float64
       new_cases  location
16144        1.0  Colombia
16145        0.0  Colombia
16146        0.0  Colombia
16147        0.0  Colombia
16148        2.0  Colombia
...          ...       ...
16550    16703.0  Colombia
16551    16654.0  Colombia
16552    16871.0  Colombia
16553    14189.0  Colombia
16554    16965.0  Colombia

[411 rows x 2 columns]
new_cases    6530.659367
dtype: float64
       new_cases location
16555        1.0  Comoros
16556        0.0  Comoros
16557        2.0  Comoros
16558        0.0  Comoros
16559        0.0  Comoros
...          ...      ...
16906        6.0  Comoros
16907        0.0  Comoros
16908        4.0  Comoros
16909        0.0  Comoros
16910        1.0  Comoros

[356 rows x 2 columns]
new_cases    10.730337
dtype: float64
       new_cases location
16911        1.0    Congo
16912        0.0    Congo
16913        0.0    Congo
16914        0.0    Congo
16915        2.0    Congo
...          ...      ...
17308        0.0    Congo
17309        0.0    Congo
17310        0.0    Congo
17311        0.0    Congo
17312        0.0    Congo

[402 rows x 2 columns]
new_cases    25.084577
dtype: float64
       new_cases    location
17313        1.0  Costa Rica
17314        0.0  Costa Rica
17315        4.0  Costa Rica
17316        4.0  Costa Rica
17317        0.0  Costa Rica
...          ...         ...
17719     1044.0  Costa Rica
17720        0.0  Costa Rica
17721        0.0  Costa Rica
17722     2260.0  Costa Rica
17723     1130.0  Costa Rica

[411 rows x 2 columns]
new_cases    564.396594
dtype: float64
       new_cases       location
17724        1.0  Cote d'Ivoire
17725        0.0  Cote d'Ivoire
17726        0.0  Cote d'Ivoire
17727        0.0  Cote d'Ivoire
17728        0.0  Cote d'Ivoire
...          ...            ...
18125       30.0  Cote d'Ivoire
18126       45.0  Cote d'Ivoire
18127       41.0  Cote d'Ivoire
18128       10.0  Cote d'Ivoire
18129       44.0  Cote d'Ivoire

[406 rows x 2 columns]
new_cases    112.349754
dtype: float64
       new_cases location
18130        1.0  Croatia
18131        2.0  Croatia
18132        0.0  Croatia
18133        2.0  Croatia
18134        1.0  Croatia
...          ...      ...
18546     2698.0  Croatia
18547     2627.0  Croatia
18548     1565.0  Croatia
18549      410.0  Croatia
18550     2106.0  Croatia

[421 rows x 2 columns]
new_cases    737.068884
dtype: float64
       new_cases location
18551        3.0     Cuba
18552        1.0     Cuba
18553        0.0     Cuba
18554        0.0     Cuba
18555        0.0     Cuba
...          ...      ...
18951     1040.0     Cuba
18952     1026.0     Cuba
18953     1037.0     Cuba
18954     1060.0     Cuba
18955     1183.0     Cuba

[405 rows x 2 columns]
new_cases    236.42963
dtype: float64
       new_cases location
18956        NaN  Curacao
18957        NaN  Curacao
18958        NaN  Curacao
18959        NaN  Curacao
18960        NaN  Curacao
...          ...      ...
19043        NaN  Curacao
19044        NaN  Curacao
19045        NaN  Curacao
19046        NaN  Curacao
19047        NaN  Curacao

[92 rows x 2 columns]
new_cases   NaN
dtype: float64
       new_cases location
19048        NaN   Cyprus
19049        NaN   Cyprus
19050        2.0   Cyprus
19051        1.0   Cyprus
19052        3.0   Cyprus
...          ...      ...
19453      677.0   Cyprus
19454      786.0   Cyprus
19455      852.0   Cyprus
19456      822.0   Cyprus
19457      941.0   Cyprus

[410 rows x 2 columns]
new_cases    142.210784
dtype: float64
       new_cases location
19458        3.0  Czechia
19459        0.0  Czechia
19460        2.0  Czechia
19461        3.0  Czechia
19462        4.0  Czechia
...          ...      ...
19869     3256.0  Czechia
19870     3238.0  Czechia
19871     1540.0  Czechia
19872      830.0  Czechia
19873     3319.0  Czechia

[416 rows x 2 columns]
new_cases    3860.649038
dtype: float64
       new_cases                      location
19874        1.0  Democratic Republic of Congo
19875        0.0  Democratic Republic of Congo